*.jsc
*.log
*.pro
*.pro.user
*.qmake.stash
*.qmlc
*.so
*.trace
*.vagrant
.DS_Store
Mfile*

*/*-minimal.*
*/*.o
*/*_string.go
*/cgo_*
*/minimal_*

/internal/binding/dump/*
/internal/cmd/moc/test/**/moc*
/internal/examples/**/deploy
/internal/examples/**/moc*
/internal/examples/**/rcc*